<launch>
  <arg name="port" default="/dev/ttyACM0" />
  <arg name="params" default="stimulus_parameters.yaml" />

  <rosparam command="load" file="$(arg params)" />
  <param name="stimulus_arduino/debug" value="1" type="int" />
  <!-- TODO just load from same parameter file -->
  <param name="olf/max_num_pins" value="12" type="int" />
  
  <node name="stimulus_loader" pkg="stimuli" type="test_valves.py" output="screen" required="true" />
 
  <!-- TODO is this explicit find syntax idiomatic or is there a simpler way to find .launch files? -->
  <include file="$(find stimuli)/launch/stimulus_arduino.launch">
    <arg name="port" value="$(arg port)" />
  </include>
</launch>
